<launch>

  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix"
       value="gdb -x $(find dof7_arm_moveit_app)/launch/debug_settings.gdb --ex run --args" />

  <!-- Start test -->
  <node name="test_custom_motion" launch-prefix="$(arg launch_prefix)" pkg="dof7_arm_moveit_app"
	type="test_custom_motion" output="screen">
  </node>

</launch>
